/* ******************************RESET**************************** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ***********FIN RESET************* */

@font-face {
  font-family: monument;
  src: url("../fonts/MonumentExtended-Regular.otf");
}


/* ESTILOS DE BARRAS DE SROLL */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(1, 248, 1, 0.6);
  background-color: black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(1, 248, 1, 1);
  border-radius: 10px;
}

html{
  height: 100vh;
  overflow: hidden !important;
}

/* ESTILOS BODY */
body{
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll !important;
}

/* ESTILOS HERO */
.hero.is-link{
  background-color: rgba(0, 0, 0, 0) !important;
}

.title, .subtitle{
  font-family: 'Montserrat', sans-serif;
  color: white !important;
}

.main-title{
  font-family: monument;
  font-size: 5em !important;
}

.universe-title{
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(65,255,63,0.75);
  color: rgba(65,255,63,0.75);
}

.search-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(65,255,63,0.75) !important;
  color: white !important;
  border: none !important;
}

/* ESTILOS CARDS CONTAINER */
.box{
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0,0,0,0.7) !important;
  color: white !important;
  border-radius: 50px !important;
}

.card{
  background-color: rgba(1, 248, 1, 0.6) !important;
  color: white !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 10px 3px rgba(65,255,63,0.75) !important;
}

.card-image figure img{
  border-radius: 50px 50px 0 0 !important;
}

.media-left figure img{
  border-radius: 50%;
}

.pj-title{
  font-family: monument;
  font-size: 2.5em !important;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(65,255,63,0.75) !important;
  color: rgba(65,255,63,0.75) !important;
}

.content-desc{
  color: rgba(65,255,63,0.75);
}

.desc-status, .desc-species{
  font-family: monument;
  font-size: 1.2em;
  color: white;
}

.episodes-title{
  font-family: monument;
  text-transform: uppercase;
  color: rgba(65,255,63,0.75) !important;
}

.episode-list{
  height: 50vh;
  margin-left: 0 !important;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
}

.episode-list-item{
  margin-bottom: 2%;
}

.episode-list-item:hover{
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(65,255,63,0.75);
  color: rgba(65,255,63,0.75);
  cursor: default;
}

/* ESTILOS FOOTER */
.footer{
  color: white;
  background-color: rgba(65,255,63,0.44) !important;
  box-shadow: 0px 0px 50px 5px rgba(65,255,63,0.75) !important;
}




